body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#preguntas {
    margin-top: 20px;
}

.pregunta {
    margin-bottom: 15px;
}

#resultados {
    margin-top: 20px;
    font-weight: bold;
}
